@import "tailwindcss";

:root {
  --background: #f9f9f9;
  --foreground: #000000;

  --primary: #e85002;
  --primary-dark: #c10801;

  --surface: #ffffff;
  --surface-secondary: #a7a7a7;

  --muted: #646464;
  --border: #333333;

  --gradient: linear-gradient(
    120deg,
    #000000,
    #c10801,
    #f16001,
    #d9c3ab
  );
}

.dark {
  --background: #000000;
  --foreground: #f9f9f9;

  --primary: #e85002;
  --primary-dark: #c10801;

  --surface: #0e0e0e;
  --surface-secondary: #646464;
  --heading-text: #e5e5e5;
  --muted: #a7a7a7;
  --border: #333333;

  --gradient: linear-gradient(
    120deg,
    #000000,
    #c10801,
    #f16001,
    #d9c3ab
  );
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

::selection {
  background: var(--primary);
  color: #ffffff;
}

.tech-grid-left {
  background-image:
    linear-gradient(
      30deg,
      transparent 48%,
      rgba(232, 80, 2, 0.25) 49%,
      transparent 50%
    ),
    linear-gradient(
      150deg,
      transparent 48%,
      rgba(232, 80, 2, 0.2) 49%,
      transparent 50%
    );
  background-size: 55px 55px;
  mask-image: linear-gradient(to right, black, transparent);
}

.dot-grid-right {
  background-image: radial-gradient(
    circle,
    rgba(232, 80, 2, 0.7) 1.5px,
    transparent 1.5px
  );
  background-size: 22px 22px;
  mask-image: radial-gradient(circle at right, black, transparent 70%);
}